* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 70%;
    height: 80px;
    background-color: #6c01aa;
    display: flex;
    margin: 30px 0;
    padding: 15px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.cart {
    width: 80px;
    display: flex;
    /*SSemi-Responsivo*/
    background-color: #fff;
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;
    padding: 7px 10px;
}

.cart p {
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: #6c01aa;
    color: #fff;
    padding-left: 6px;
    padding-top: 1.5px;
}

.fa-shopping-cart {
    color: #6c01aa;
}

.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

.linha-produtos {
    /**Queremos apresenta-lo em GRID em bloquinhos*/
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.corpoProduto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #6c01aa;
    border-radius: 5px;
}

.imgProduto {

    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtoMiniatura {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    display: flex;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

h2 {
    font-size: 20px;
    color: red;
}

.button {
    background-color: #6c01aa;
    width: 100%;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 7px 25px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #a751e4;
}